{{ partial "header.html" . }}

{{.Content}}
<h3>For access to google docs please fill out this form.</h3>
<form name="contact" method="POST" netlify>
  <p>
    <label>Your Name:
      <input type="text" name="name">
    </label>
  </p>
  <p>
    <label>Your Email:
      <input type="email" name="email">
    </label>
  </p>
  <p>
    <label>Message:
      <textarea name="message"></textarea>
    </label>
  </p>
  <p>
    <button type="submit">Send</button>
  </p>
</form>
{{ partial "lesson-picker.html" . }}
{{ partial "footer.html" . }}